.tabs {
  width: 70%;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  position: relative;
  padding-top: 13px;
  &::-webkit-scrollbar {
    display: none;
  }
  div {
    position: absolute;
    top: 25%;
    right: 1%;
    z-index: 5;
    cursor: pointer;
    img {
      box-shadow: -11px -1px 14px 4px #000000c7;
      background: #0000007d;
    }
  }
  span {
    cursor: pointer;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #23b838;
    margin-right: 15px;
    &.active {
      color: white;
      border-bottom: 2px solid #23b838;
    }
  }
}
